{% extends "base.html.twig" %}

{% block title %}
    Page d'accueil
{% endblock %}

{% block body %}

    <h1>LISTE DES SPORTS</h1>

    {% for sport in sports %}
	
	{% if sport == 'football' %}
		<img height="40" wight="40"src="https://static.sportytrader.com.preprod.skores.eu/logos/60x60/sports/png/football.png">
	{% else %}
		{% if sport == 'basketball' %}
			<img height="40" wight="40"src="https://static.sportytrader.com.preprod.skores.eu/logos/60x60/sports/png/basket.png">
		{% else %}
			{% if sport == 'tennis' %}
				<img height="40" wight="40"src="https://static.sportytrader.com.preprod.skores.eu/logos/60x60/sports/png/tennis.png">	
			{% else %}
				{% if sport == 'rugby' %}
					<img height="40" wight="40"src="https://static.sportytrader.com.preprod.skores.eu/logos/60x60/sports/png/rugby.png">
				{% endif %}
			{% endif %}
		{% endif %}
	{% endif %}
		
        <a href="/{{ sport }}/">{{ sport }}</a><br>
    {% endfor %}



{% endblock %}